{
	# Tell Caddy to use the certificate for this IP when clients don't send SNI
	default_sni 192.168.253.3

	# Disable the HTTP-01 challenge globally (forces TLS-ALPN-01 over port 443)
    	cert_issuer acme {
        	disable_http_challenge
    	}
}

ourmaps.mooo.com {
	reverse_proxy our-maps:{$PORT}
}

# Replace "192.168.4.146" with your actual local IP address or a custom local domain.
# If you have a real domain, place it here and Caddy will fetch a real Let's Encrypt cert!
192.168.253.3 {
	tls internal
	reverse_proxy our-maps:{$PORT}
}

# Also allow access via localhost if you are testing on the same machine
localhost {
	tls internal
	reverse_proxy our-maps:{$PORT}
}
